/* Color Pallette */
/* Purple: #451952 */
/* Dark Red: #662549 */
/* Light Red: #AE445A */
/* Yellow: #F39F5A */


body {
    background-color: #451952;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    color: #F39F5A;
}

h1 {
    text-align: center;
    font-weight: bold;
}

img {
    height: 300px;
    width: 300px;
}

button, .back-button, .select-button {
    background-color: #662549;
}

.select-button {
    font-weight: bold;
    font-size: larger;
}

.back-button {
    font-size: medium;
}